@(
message: String,
bookmarks: List[models.Bookmark],
categories: List[models.Category]
)

@main("Gestion des bookmarks") {

<h1>BookMarks</h1>
<h6>@message</h6>

<!-- Formulaire de saisie : Catégories -->
<fieldset>
    <h2>Nouvelle Cat&eacute;gorie</h2>
    <!--<form method="post" action="@routes.Categories.add()">-->
    <form method="post" action="/category/add">
        <input name="label" placeholder="label">
        <button class="btn" type="submit">Ajouter la Cat&eacute;gorie</button>
    </form>
</fieldset>

@if(flash.containsKey("error")) {
<div class="alert alert-error"> <!-- ceci est un style twitter bootstrap -->
    <strong>Oups!</strong> @flash.get("error")
</div>
}

<!-- Liste des Catégories -->
<ul>
    @for(category <- categories) {
    <li>@category.id @category.label</li>
    }
</ul>

<!-- Formulaire de saisie : Bookmarks -->
<fieldset>
    <h2>Nouveau Bookmark</h2>
    <!--<form method="post" action="@routes.Bookmarks.add()">-->
    <form method="post" action="/bookmark/add">
        <input name="title" placeholder="title">
        <input name="url" placeholder="url">
        <input name="details" placeholder="details">

        <select size="1" name="category.id">
            @for(category <- categories) {
            <option value="@category.id">@category.label</option>
            }
        </select>

        <button class="btn" type="submit">Ajouter le Bookmark</button>
    </form>
</fieldset>

<!-- Liste des Bookmarks -->
<ul>
    @for(bookmark <- bookmarks) {
    <li>@bookmark.title : <a href="@bookmark.url">@bookmark.url</a> :
        @if(bookmark.category != null) {
        @bookmark.category.label
        }
    </li>
    }
</ul>
}