@(title: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="screen"
          href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <style>
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" media="screen"
          href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
    <link rel="shortcut icon" type="image/png"
          href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"
    type="text/javascript"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">@title</a>

        </div>
    </div>
</div>

<div class="container">
    <!-- === Formulaire d'authentification === -->
    <fieldset>
        <legend>Authentification :</legend>
        <div class="well">
            <label>Email :
                <input type="email" name="email" placeholder="Email"></label>
            <label>Password :
                <input type="password" name="password"
                       placeholder="Password"></label>
            <button name="login" class="btn btn-primary">Login</button>
            <button name="logout" class="btn">Logout</button>
        </div>
    </fieldset>

    <!-- === Les messages s'afficheront ici === -->
    <div name="authentication" class="alert alert-info">
        <strong>Info : </strong> Veuillez vous authentifier s'il vous plaît
    </div>

    <!-- === Les bookmarks s'afficheront ici === -->
    <fieldset>
        <legend>Liste des Bookmarks <button name="loadbookmarks"
                                            class="btn btn-inverse">Charger ...</button></legend>
        <ul name="bookmarks"></ul>
    </fieldset>

</div>

</body>

<!-- === ici votre code applicatif === -->
<script>
    /*=== mon code ne s'exécute qu'une fois le DOM complètement chargé ===*/
    $(function (){

    //définition des différents éléments d'IHM
    var user = {}
    ,   alertAuthentication = $('div[name=authentication]')
    ,   loginButton = $("button[name=login]")
    ,   logoutButton = $("button[name=logout]")
    ,   loadBookmarksButton = $("button[name=loadbookmarks]")
    ,   email = $('input[name=email]')
    ,   password = $('input[name=password]')
    ,   labels = $('label')
    ,   bookmarksList = $('ul[name=bookmarks]');

    // onclick du bouton login
    loginButton.click(function(){

    user.email = email.val();
    user.password = password.val();
    $.ajax({
    type:"POST",
    url:"/loginjson", data:{
    email : user.email,
    password : user.password
    },
    error : function(err){console.log("Erreur", err);},
    success : function(data){
    if(data !== "badRequest") {
    alertAuthentication
    .attr('class','alert alert-success')
    .html('<strong>Bienvenue !</strong> ' + data);
    user.name = data;

    labels.hide();
    email.hide();
    password.hide();
    loginButton.hide();

    } else {
    alertAuthentication
    .attr('class','alert alert-error')
    .html('<strong>Oups !</strong> vous avez du vous tromper');
    }
    }
    });
    });

    // onclick du bouton logout
    logoutButton.click(function(){

    $.ajax({
    type:"GET",
    url:"/logoutjson",
    error : function(err){console.log("Erreur", err);},
    success : function(data){

    if(user.name) {
    alertAuthentication
    .attr('class','alert alert-info')
    .html('<strong>Au revoir</strong> ' + user.name);

    labels.show();
    email.show();
    password.show();
    loginButton.show();

    user = {};

    bookmarksList.html('');
    }


    }
    });
    });

    // onclick du bouton de chargement des bookmarks
    loadBookmarksButton.click(function(){
    $.ajax({type:"GET", url:"/bookmarks/jsonlist",
    error : function(err){ console.log(err); },
    success : function(data) {

    if(data !== "failed") {
    bookmarksList.html('');
    data.bookmarks.forEach(function(bookmark){
    bookmarksList.append(
    $('<li>')
    .append($('<b>').append(bookmark.title))
        .append(' | ')
        .append($('<a>').attr("href",bookmark.url)
            .append(bookmark.url))
            .append(' | ')
            .append($('<i>')
                .append(bookmark.details))
                .append(' | (')
                .append(bookmark.category.label).append(')')
                );
                });
                } else {
                alertAuthentication
                .attr('class','alert alert-error')
                .html('<strong>Il faut être authentifié !</strong> \n pour obtenir la liste des bookmarks');
                }
                }
                });
                });



                });
</script>

</html>